@font-face {
    src: url(fonts/Bad_Script/BadScript-Regular.ttf);
    font-family: "BadScript";
}

Body,
html {
    width: auto;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}


/** Section header**/

header {
    background: url(images/photo01.jpg) no-repeat;
    background-size: cover;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

header blockquote {
    font-family: BadScript;
    font-size: 3rem;
    margin-left: 35%;
    margin-right: 5%;
    font-weight: bold;
    text-shadow: 3px 3px 4px white, 0 0 2em white;
}

.header__nav {
    display: flex;
    align-self: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__nav li:not(:first-child) {
    margin-left: 10px;
}

.header__nav a {
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    padding: 4px;
    padding-bottom: 0px;
    justify-content: space-around;
    background-color: lightgrey;
    width: 200px;
    text-align: center;
}


/** Section main **/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.main__text {
    width: 1024px;
    text-align: justify;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    font-size: 18px;
}


/** about **/

.about {
    display: flex;
    ;
}

.about__photo {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-left: 10px;
}

.about p {
    padding-left: 10px;
    flex-wrap: nowrap;
}

.about__photo span,
.main__text span {
    font-weight: bold;
    font-size: 1.2em;
}

.main__text__about_photo {
    border-radius: 20px;
    flex: none;
    width: 200px;
    box-shadow: inset 0 0 1px 5px rgba(167, 41, 3, 0.418);
    background-image: url(images/photo03.png);
    background-size: cover;
}

blockquote {
    font-family: "BadScript";
    font-style: italic;
    text-align: center;
    font-size: 24px;
    width: 600px;
    display: flex;
    align-self: center;
    padding: 50px 50px;
}

.project {
    margin-top: 20px;
    display: flex;
    box-sizing: content-box;
}

.project p {
    padding: 3px;
    margin: 5px;
    border: 5px solid rgba(167, 41, 3, 0.418);
    text-align: center;
    border-radius: 20%;
}

.main__text__used_logo {
    display: flex;
    justify-content: space-around;
}

.HTML5,
.CSS,
.JavaScript,
.jQuery,
.React {
    border-radius: 20px;
    flex: none;
    width: 200px;
    height: 200px;
    box-shadow: inset 0 0 1px 2px rgba(167, 41, 3, 0.418);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.HTML5 {
    background-image: url(images/html.png);
}

.CSS {
    background-image: url(images/css.png);
    margin: 0px 5px;
}

.JavaScript {
    background-image: url(images/JavaScript.png);
}

.jQuery {
    background-image: url(images/jQuery.png);
    margin: 0px 5px;
}


}
.React {
    background-image: url(images/React.png);
}

/** Footer **/
footer {
    flex-shrink: 0;
    background-color: grey;
}